<button type="button" class="ls-btn-primary" ng-click="search()">Carregar</button>
<br>
<br>
<div class="ls-form ls-form-horizontal">
    <div style="text-align: center" ng-show="!isLoaded"> 
        Carregando...
    </div>
    <div style="text-align: center" ng-show="isLoaded && moods && moods.length == 0"> 
        Não há dados suficientes para montar o gráfico.
    </div>
    <div class="daily-chart-holder" ng-show="isLoaded && moods && moods.length > 0">
        <canvas id="myChart2" height="400"></canvas>
    </div>
</div>