<h2>Nova Tag</h2>
<br>
<form class="ls-form row" ng-submit="vm.save()">
    <fieldset>
        <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Título</b>
      <input type="text" name="nome" placeholder="Título" class="ls-field" ng-model="vm.model.title" required>
    </label>
        <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Categoria</b>
      <div class="ls-custom-select">
        <select name="" class="ls-select" ng-model="vm.model.type" required>
          <option value="undefined">Nenhuma</option>
          <option value="realization">{{vm.normalizeType('realization')}}</option>
          <option value="esteem">{{vm.normalizeType('esteem')}}</option>
          <option value="social">{{vm.normalizeType('social')}}</option>
          <option value="safety">{{vm.normalizeType('safety')}}</option>
          <option value="physiological">{{vm.normalizeType('physiological')}}</option>
        </select>
      </div>
    </label>
    </fieldset>
    <div class="ls-actions-btn">
        <button type="submit" class="ls-btn-primary">Salvar</button>
    </div>
</form>