<h2>Tags</h2>
<br>
<p>As tags cadastradas podem ser posteriormente associadas nos formulários para que sejam utilizadas nas avaliações.</p>
<button type="button" class="ls-btn-primary" ng-click="vm.new()">Nova</button>
<br>
<br>
<label class="ls-label-text">
    <input type="checkbox" ng-model="vm.filters.onlyActives">
    Mostrar apenas as ativas
</label>
<div style="text-align: center" ng-show="vm.isLoading">
    Carregando...
</div>
<div class="table-responsive" ng-hide="vm.isLoading">
    <table class="table ls-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Categoria</th>
                <th>Ativa</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in (vm.tags | filter:vm.filterList)">
                <td>
                    {{tag.title}}
                </td>
                <td>
                    {{vm.normalizeType(tag.type)}}
                </td>
                <td>
                    <input type="checkbox" class="ls-field-checkbox" ng-model="tag.active" ng-change="vm.changeStatus(tag)" />
                </td>
            </tr>
        </tbody>
    </table>
</div>