.vs/**
MyMoods/bin/**
MyMoods/obj/**
MyMoods/logs/**
MyMoods/dist/**
MyMoods/project.lock.json
MyMoods/MyMoods.xproj.user
MyMoods/dist/**
MyMoods/wwwroot/node_modules/**
MyMoods/wwwroot/bower_components/**
MyMoods/wwwroot/app/node_modules/**
MyMoods/wwwroot/app/bower_components/**
MyMoods/wwwroot/analytics/node_modules/**
MyMoods/wwwroot/analytics/bower_components/**
