.vs/**
src/**/*.csproj.user
src/**/launchSettings.json
src/**/bin/**
src/**/obj/**
src/MyMoods/logs/**
src/MyMoods/dist/**
src/MyMoods/project.lock.json
src/MyMoods/MyMoods.csproj.user
src/MyMoods/wwwroot/node_modules/**
src/MyMoods/wwwroot/app/node_modules/**
src/MyMoods/wwwroot/analytics/node_modules/**
/src/MyMoods/wwwroot/app-vue/node_modules
