<form-selector form-id="formId"></form-selector>
<form class="ls-form ls-form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <label class="ls-label">
                <b class="ls-label-text">Início</b>
                <input type="text" class="datepicker" placeholder="dd/mm/aaaa" ng-model="date1">
            </label>
        </div>
        <div class="col-md-6">
            <label class="ls-label">
                <b class="ls-label-text">Fim</b>
                <input type="text" class="datepicker" placeholder="dd/mm/aaaa" ng-model="date2">
            </label>
        </div>
    </div>
</form>