<form-selector form-id="formId"></form-selector>
<form class="ls-form ls-form-horizontal">
    <div class="row">
        <label class="ls-label col-sm-12 col-md-12 col-lg-6">
            <b class="ls-label-text">Início</b>
            <input type="text" class="datepicker" placeholder="dd/mm/aaaa" ng-model="date1">
        </label>    
        <label class="ls-label col-sm-12 col-md-12 col-lg-6">
            <b class="ls-label-text">Fim</b>
            <input type="text" class="datepicker" placeholder="dd/mm/aaaa" ng-model="date2">
        </label>
    </div>
</form>