<h2>Novo Formulário</h2>
<br>
<form class="ls-form row" ng-submit="vm.save()">
  <fieldset>
    <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Título</b>
      <input type="text" placeholder="Título" class="ls-field" ng-model="vm.model.title" required>
    </label>
    <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Pergunta Inicial</b>
      <input type="text" placeholder="Pergunta Inicial" class="ls-field" ng-model="vm.model.mainQuestion" required>
    </label>
    <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Tipo</b>
      <div class="ls-custom-select">
        <select class="ls-select" ng-model="vm.model.type" required>
          <option value="simple">{{vm.normalizeType('simple')}}</option>
          <option value="general">{{vm.normalizeType('general')}}</option>
          <option value="generalWithCustomTags">{{vm.normalizeType('generalWithCustomTags')}}</option>
          <option value="generalOnlyCustomTags">{{vm.normalizeType('generalOnlyCustomTags')}}</option>
        </select>
      </div>
    </label>
  </fieldset>
  <fieldset ng-show="vm.model.type == 'generalWithCustomTags' || vm.model.type =='generalOnlyCustomTags'">
    <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Tags Adicionais</b>
      <div class="ls-box">
        <label class="ls-label-text" ng-repeat="tag in vm.tags">
          <input type="checkbox" ng-model="tag.selected">
          {{tag.title}}
        </label>
      </div>
    </label>
  </fieldset>
  <fieldset>
    <label class="ls-label col-sm-12 col-md-6">
      <b class="ls-label-text">Questão de texto livre</b>
      <div class="ls-box">
        <label class="ls-label-text">
          <input type="checkbox" ng-model="vm.model.freeText.allow">
          Permitir
        </label>
        <fieldset ng-show="vm.model.freeText.allow">
          <br>
          <label class="ls-label-text">
            <input type="checkbox" ng-model="vm.model.freeText.require">
            Obrigar preenchimento
          </label>
          <br>
          <label class="ls-label col-sm-12 col-md-12" style="padding-left: 0px;">
            <b class="ls-label-text">Título</b>
            <input type="text" placeholder="Título da questão de texto livre" class="ls-field" ng-model="vm.model.freeText.title" ng-required="vm.model.freeText.allow">
          </label>
        </fieldset>
      </div>
    </label>
  </fieldset>
  <div class="ls-actions-btn">
    <button type="submit" class="ls-btn-primary">Salvar</button>
  </div>
</form>