.login-remove-bg {
    background-color: transparent;
}

.login-logo-holder {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.login-logo {
    width: 50%;
}

.login-center {
    text-align: center !important;
}

.login-pointer {
    cursor: pointer;
}