<h2>Alterar senha</h2>
<br>
<form class="ls-form row" ng-submit="vm.changePassword()">
    <label class="ls-label col-md-4">
        <b class="ls-label-text">Atual</b>
        <input type="password" name="old" placeholder="Atual" minlength="6" ng-model="vm.model.old" required autofocus>
    </label>
    <label class="ls-label col-md-4">
        <b class="ls-label-text">Nova</b>
        <input type="password" name="new" placeholder="Nova" minlength="6" ng-model="vm.model.new" required>
    </label>
    <label class="ls-label col-md-4">
        <b class="ls-label-text">Confirmação</b>
        <input type="password" name="confirmation" placeholder="Confirmação" minlength="6" ng-model="vm.model.confirmation" required>
    </label>
    <div class="password-button">
        <button type="submit" class="ls-btn-primary">Alterar</button>
    </div>
</form>