body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: white;
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 50px 15px;
}

button {
    cursor: pointer;
    background-color: rgb(76, 76, 76);
}

.header {
    text-align: center;
    background-color: cadetblue;
    padding-top: 75px;
    min-height: 100vh;
}

    .header .logo {
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 30px;
    }

    .header p {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 25px;
        line-height: 25px;
        max-width: 300px;
    }

    .header a {
        color: white;
    }

    .header button {
        padding: 10px 20px;
        font-size: 18px;
    }

.for-who {
    background-color: mediumseagreen;
    padding: 50px 20px;
    text-align: center;
}

    .for-who img {
        width: 200px;
    }

    .for-who p {
        color: black;
        text-align: center;
        max-width: 450px;
        margin: auto;
    }

    .for-who h4 {
        text-align: center;
        color: black;
        margin-bottom: 30px;
    }

.advantages {
    background-color: indianred;
    padding: 50px 20px;
}

    .advantages div {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .advantages img {
        width: 200px;
    }

    .advantages p {
        max-width: 250px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

    .advantages h4 {
        text-align: center;
    }

.devices {
    background-color: burlywood;
    padding: 50px 20px;
    text-align: center;
}

    .devices img {
        width: 1000px;
        max-width: 100%;
    }

    .devices p {
        max-width: 550px;
        text-align: center;
        color: black;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .devices h4 {
        text-align: center;
        color: black;
        margin-bottom: 30px;
    }

.footer {
    background-color: rgb(76, 76, 76);
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
}

    .footer a {
        color: white;
    }

.modal {
    color: black;
}

    .modal button {
        color: white;
    }

.modal-footer {
    text-align: center;
}

.modal-header button {
    color: black;
}
