body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: white;
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 50px 15px;
}

button {
    cursor: pointer;
    background-color: rgb(76, 76, 76)
}

.header {
    background-color: cadetblue;
    text-align: center;
}

    .header .logo {
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 30px;
    }

.attributes {
    background-color: mediumseagreen;
    padding: 50px;
}

    .attributes div {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .attributes img {
        width: 200px;
    }

    .attributes p {
        width: 250px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

.modal {
    color: black;
}

.modal button {
    color: white;
}

.modal-footer {
    text-align: center;
}

.modal-header button {
    color: black;
}