body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    color: white;
}

section {
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 50px 15px;
}

button {
    cursor: pointer;
    background-color: rgb(76, 76, 76);
}

.header {
    text-align: center;
    background-color: cadetblue;
    padding-top: 100px;
    padding-bottom: 250px;
}

    .header .logo {
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 30px;
    }

    .header p {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .header a {
        color: white;
    }

    .header button {
        padding: 10px 20px;
        font-size: 18px;
    }

.attributes {
    background-color: mediumseagreen;
    padding: 20px;
}

    .attributes div {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .attributes img {
        width: 200px;
    }

    .attributes p {
        max-width: 250px;
        text-align: center;
        margin: auto;
        margin-top: 10px;
    }

.devices {
    background-color: burlywood;
    padding: 50px 20px;
    text-align: center;
}

    .devices img {
        width: 1000px;
        max-width: 100%;
    }

    .devices p {
        max-width: 500px;
        text-align: center;
        color: black;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

.footer {
    background-color: rgb(76, 76, 76);
    text-align: center;
    padding: 15px;
    padding-bottom: 5px;
}

.footer a {
    color: white;
}

.modal {
    color: black;
}

    .modal button {
        color: white;
    }

.modal-footer {
    text-align: center;
}

.modal-header button {
    color: black;
}
