<h2>Formulários</h2>
<br>
<p>Os formulários possuem um link. Basta encaminhá-lo aos seus colaboradores para começar a coletar as avaliações.</p>
<button type="button" class="ls-btn-primary" ng-click="vm.new()">Novo</button>
<br>
<br>
<label class="ls-label-text">
    <input type="checkbox" ng-model="vm.filters.onlyActives">
    Mostrar apenas os ativos
</label>
<div style="text-align: center" ng-show="vm.isLoading">
    Carregando...
</div>
<div class="table-responsive" ng-hide="vm.isLoading">
    <table class="table ls-table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Tipo</th>
                <th>Link</th>
                <th>Ativo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in (vm.forms | filter:vm.filterList)">
                <td>
                    {{form.title}}
                </td>
                <td>
                    {{vm.normalizeType(form.type)}}
                </td>
                <td>
                    <a href="../app/#/{{form.id}}" target="_blank">www.mymoods.com.br/app/#/{{form.id}}</a>
                </td>
                <td>
                    <input type="checkbox" class="ls-field-checkbox" ng-model="form.active" ng-change="vm.changeStatus(form)" />
                </td>
                <td>
                    <a href="#!/forms/{{form.id}}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>