<label class="ls-label col-sm-12 col-md-6">
    <b class="ls-label-text">Pergunta Inicial</b>
    <input type="text" placeholder="Pergunta Inicial" class="ls-field" ng-model="vm.model.mainQuestion" required>
</label>
<fieldset ng-show="vm.model.type != 'simple'">
    <label class="ls-label col-sm-12 col-md-6">
        <input type="checkbox" ng-model="vm.model.allowMultipleReviewsAtOnce">
        <b class="ls-label-text" style="display: initial;">Permitir a seleção de múltiplos moods</b>
    </label>
</fieldset>
<fieldset ng-show="vm.model.type == 'generalWithCustomTags' || vm.model.type =='generalOnlyCustomTags'">
    <label class="ls-label col-sm-12 col-md-6">
        <b class="ls-label-text">Tags Adicionais</b>
        <div class="ls-box">
            <label class="ls-label-text" ng-repeat="tag in vm.tags">
                <input type="checkbox" ng-model="tag.selected">
                {{tag.title}}
            </label>
        </div>
    </label>
</fieldset>
<fieldset>
    <label class="ls-label col-sm-12 col-md-6">
        <b class="ls-label-text">Questão de texto livre</b>
        <div class="ls-box">
            <label class="ls-label-text">
                <input type="checkbox" ng-model="vm.model.freeText.allow">
                Permitir
            </label>
            <fieldset ng-show="vm.model.freeText.allow">
                <br>
                <label class="ls-label-text">
                    <input type="checkbox" ng-model="vm.model.freeText.require">
                    Obrigar preenchimento
                </label>
                <br>
                <label class="ls-label col-sm-12 col-md-12" style="padding-left: 0px;">
                    <b class="ls-label-text">Título</b>
                    <input type="text" placeholder="Título da questão de texto livre" class="ls-field" ng-model="vm.model.freeText.title" ng-required="vm.model.freeText.allow">
                </label>
            </fieldset>
        </div>
    </label>
</fieldset>
<fieldset>
    <label class="ls-label col-sm-12 col-md-6">
        <b class="ls-label-text">Lembrete por e-mail</b>
        <div class="ls-box">
            <label class="ls-label-text">
                <input type="checkbox" ng-model="vm.model.notification.active">
                Ativo
            </label>
            <fieldset ng-show="vm.model.notification.active">
                <br>
                <label class="ls-label col-sm-12 col-md-12" style="padding-left: 0px;">
                    <b class="ls-label-text">Recorrência</b>
                    <div class="ls-custom-select">
                        <select class="ls-select" ng-model="vm.model.notification.recurrence" required>
                            <option value="daily">{{vm.normalizeRecurrence('daily')}}</option>
                            <option value="weekly">{{vm.normalizeRecurrence('weekly')}}</option>
                            <option value="monthly">{{vm.normalizeRecurrence('monthly')}}</option>
                        </select>
                    </div>
                </label>
                <label class="ls-label col-sm-12 col-md-12" style="padding-left: 0px;">
                    <b class="ls-label-text">E-mail</b>
                    <input type="email" placeholder="geral@empresa.com.br" class="ls-field" ng-model="vm.model.notification.email" ng-required="vm.model.notification.active">
                </label>    
            </fieldset>
        </div>
    </label>
</fieldset>
<div class="ls-actions-btn">
    <button type="submit" class="ls-btn-primary">Salvar</button>
</div>